/* INDEX: BOX MODEL */

.titulo{
	color: white;
	font-size: 50px;
	font-family: 'Andika New Basic', sans-serif;
	font-weight:bold;
	text-align: center;
	line-height:1.5;
}

.blanco{
	color: white;
	font-size: 20px;
	font-family: 'Andika New Basic', sans-serif;
	font-weight:bold;
	text-align: center;
	line-height:1.2;
	
}

.rojo{
	color: red;
	font-family: 'Andika New Basic', sans-serif;
	font-size: 25px;
	background-size:50px;
	background-position: center;
	letter-spacing:4px;
	font-weight:bold;
	text-align: center;

}

.rosa{
	color: pink;
	
}

.videoinicio{
	padding-top: 50px;
	padding-left: 30%;

}

.main1{
	background-image:url("estilo/fondos/teivat.jpg");
	background-repeat:no-repeat;
	background-position: center center;
	background-size: cover;
	font-style: 20px;

}